<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style/form.css">
    <title>PokeAPI</title>
</head>
<body>
<p>
    <form action="http://localhost:5002/pesquisa" id="form" method="POST">
    <h1><img src="../static/images/pokeball.png" height="160"></h1>
    <br><input  type="text" name="nome_id" id="nome_id" size="50" class="input" 
    placeholder="Nome ou id" size="30" required>
    <p id="botoes">
        <br><button type="submit" id="benvio" class="botoes">Quem é esse Poke?</button>
    </p>
    </form>
</p>
</body>
</html>